<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../src/output.css">
    <script src="../js/homepage.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  


</head>
<body class="bg-cover bg-center bg-no-repeat h-screen" style="background-image: url('../src/img/bg.png');">

    <!--header of the Page-->
   <header class="bg-[#02766f] h-24 flex items-center justify-between ">
      
    <!--Left Part of the Header-->
    <div class="ml-20" >
       <a href=""><p class="text-neutral-50 text-3xl font-extrabold">CustomCraft</p></a>
    </div>

   <!--Right Part of the Header-->
    <div class="flex items-center justify-between w-1/2 mr-20">
     <div>
        <a href="home.html" class="nav-link"><p class="text-neutral-50 text-2xl font-normal ">Home</p></a>
     </div>
     <div>
        <a href="products.html" class="nav-link"><p class="text-neutral-50 text-2xl font-normal">Products</p></a>
     </div>
     <div>
        <a href="about.html" class="nav-link"><p class="text-neutral-50 text-2xl font-normal">About</p></a>
     </div>
     <div>
        <a href="signin.html" class="nav-link"><p class="text-neutral-50 text-2xl font-normal">Sign in</p></a>
     </div>
     <div>
        <a href="signup.html" class="nav-link"><p class="text-neutral-50 text-2xl font-normal">Sign up</p></a>
     </div>
    </div>
   </header>


   <div id="signin-form">
      <h2>Sign In</h2>
      <form id="login-form">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <button type="submit">Login</button>
      </form>
       <!-- Google Sign-In Button -->
       <div id="g_id_onload"
       data-client_id="806695403781-0igge161g3vhh6ulu6u0f00pbt2tn267.apps.googleusercontent.com"
       data-callback="handleCredentialResponse">
   </div>
   <div class="g_id_signin" data-type="standard"></div>
  </div>
</div>


</body>

</html>
